
@{
	ViewBag.Title = "AboutPage";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="w3l-about-breadcrumb">
	<div class="breadcrumb-bg breadcrumb-bg-about py-5">
		<div class="container py-lg-4 py-md-3">
			<h2 class="title">關於我們</h2>
		</div>
	</div>
</section>
<section class="w3l-servicesblock py-5" id="about">
	<div class="container py-lg-5 py-md-4 py-2">
		<div class="row">
			<div class="col-lg-8 about-right-faq align-self">
				<span class="title-small mb-2">Heart of USA's Best</span>
				<h3 class="title-big mx-0">我們做什麼料理</h3>
				<p class="mt-lg-4 mt-3">
					我們擁有 25 多年的經驗。“我們的唯一目標是讓客戶滿意。歸根結底，一切都歸結為咖啡。
					但要實現這一目標，需要一支敬業、知識淵博的團隊和可持續的方法。我們製作美味的咖啡愛好者的咖啡。
					我們是一群敬業的咖啡迷，他們慶祝卓越的咖啡品牌。我們為新老客戶提供各種服務。您最喜歡的所有產品，
					直接送到您手中。
				</p>
				<a class="btn btn-style btn-primary mt-lg-5 mt-4" href="about.html"> Learn More about us</a>
			</div>
			<div class="col-lg-4 mt-lg-0 mt-5">
				<img src="~/images/about.jpg" alt="" class="img-fluid radius-image">
			</div>
		</div>
	</div>
</section>
<section class="w3l-specification-6 py-5">
	<!-- /specification-6-->
	<div class="specification-6-mian py-lg-5 py-md-4 py-2">
		<div class="container">
			<div class="align-counter-6-inf-cols row">
				<div class="counter-6-inf-left col-lg-6">

				</div>
				<div class="counter-6-inf-right col-lg-6">
					<h3 class="title-big">我們為新老客戶提供各種服務。</h3>
					<p class="mt-4">
						疼痛本身就是疼痛，牠喜歡通過脂肪化過程來增強。 
						這很容易，不是嗎？ 它永遠不會被您的需求所蒙蔽。 麻煩，如果它們是偉大的，
						偉大的，這飛行是否逃脫了正義，但快樂更大？
					</p>
					<a class="btn btn-style btn-primary mt-lg-5 mt-4" href="about.html"> Discover More</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //specification-6-->
<!-- /homeblock2-->
<section class="w3l-homeblock2 py-5">
	<div class="container py-lg-5 py-md-4 py-2">
		<div class="row">
			<div class="col-lg-4 col-md-6 grids-feature">
				<div class="area-box">
					<span class="fa fa-coffee"></span>
					<h4><a href="#feature" class="title-head">香氣、味道和風味</a></h4>
					<p>
						咖啡有一種獨特的香氣，很容易辨認。這還不是最令人興奮的事情。但痛苦愛自己，進入獅子的痛苦。
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-5">
				<div class="area-box">
					<span class="fa fa-glass"></span>
					<h4><a href="#feature" class="title-head">咖啡的組成</a></h4>
					<p>
						咖啡含有多種礦物質和維生素，不含脂肪。這還不是最令人興奮的事情。但痛苦愛自己，進入獅子的痛苦。
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-5">
				<div class="area-box">
					<span class="fa fa-pagelines"></span>
					<h4><a href="#feature" class="title-head">生理效應</a></h4>
					<p>
						咖啡對您的生理狀況有益。這還不是最令人興奮的事情。但痛苦愛自己，進入獅子的痛苦。
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //homeblock2-->
<!-- middle -->
<div class="w3l-middle py-5">
	<div class="container py-lg-5 py-md-4">
		<div class="welcome-left">
			<h3 class="title-small">Coffee Shop</h3>
			<h3 class="title-big mb-4">所有你喜歡的，直接送給你。開始您的訂單</h3>
			<p class="pr-lg-5">
				因為您喜歡咖啡，但並不總是想要咖啡因，所以請尋找 Swiss Water® 標誌或詢問您的咖啡是如何脫咖啡因的。
			</p>
			<div class="buttons mt-md-5 mt-4">
				<a href="about.html" class="btn btn-style btn-primary mr-2">Find near you</a>
			</div>
		</div>
	</div>
</div>
<!-- //middle -->
<section class="w3l-team section py-5" id="team">
	<div class="container py-lg-5 py-md-4">
		<h5 class="title-small text-center">Our team</h5>
		<h3 class="title-big text-center mb-md-5 mb-4">團隊成員</h3>
		<div class="row">
			<div class="section_content teamy-team">
				<div class="col-lg-3 col-6">
					<div class="teamy teamy_style1 teamy_mask-circle">
						<div class="teamy_layout">
							<div class="teamy_preview">
								<img src="~/images/team1.jpg" class="radius-image img-fluid w-100" alt="The demo photo">
							</div>
							<div class="teamy_back">
								<div class="teamy_back-inner">
									<a href="#0" class="social"> <i class="fa fa-facebook"></i> </a>
									<a href="#0" class="social"> <i class="fa fa-dribbble"></i> </a>
									<a href="#0" class="social"> <i class="fa fa-twitter"></i> </a>
									<a href="#0" class="social"> <i class="fa fa-envelope-o"></i> </a>
								</div>
							</div>
						</div>
						<div class="teamy_content">
							<a href="#url" class="teamy_name">Suzan Lois</a>
							<span class="teamy_post">Barista at coffeebean</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-6">
					<div class="teamy teamy_style1 teamy_mask-circle">
						<div class="teamy_layout">
							<div class="teamy_preview">
								<img src="~/images/team2.jpg" class="radius-image img-fluid w-100" alt="The demo photo">
							</div>
							<div class="teamy_back">
								<div class="teamy_back-inner">
									<a href="#0" class="social"> <i class="fa fa-facebook"></i> </a>
									<a href="#0" class="social"> <i class="fa fa-dribbble"></i> </a>
									<a href="#0" class="social"> <i class="fa fa-twitter"></i> </a>
									<a href="#0" class="social"> <i class="fa fa-envelope-o"></i> </a>
								</div>
							</div>
						</div>
						<div class="teamy_content">
							<a href="#url" class="teamy_name">Dora Caelan</a>
							<span class="teamy_post">Barista at coffeebean</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-6 mt-lg-0 mt-5">
					<div class="teamy teamy_style1 teamy_mask-circle">
						<div class="teamy_layout">
							<div class="teamy_preview">
								<img src="~/images/team3.jpg" class="radius-image img-fluid w-100" alt="The demo photo">
							</div>
							<div class="teamy_back">
								<div class="teamy_back-inner">
									<a href="#0" class="social"> <i class="fa fa-facebook"></i> </a>
									<a href="#0" class="social"> <i class="fa fa-dribbble"></i> </a>
									<a href="#0" class="social"> <i class="fa fa-twitter"></i> </a>
									<a href="#0" class="social"> <i class="fa fa-envelope-o"></i> </a>
								</div>
							</div>
						</div>
						<div class="teamy_content">
							<a href="#url" class="teamy_name">Rosanna Pattie</a>
							<span class="teamy_post">Barista at coffeebean</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-6 mt-lg-0 mt-5">
					<div class="teamy teamy_style1 teamy_mask-circle">
						<div class="teamy_layout">
							<div class="teamy_preview">
								<img src="~/images/team4.jpg" class="radius-image img-fluid w-100" alt="The demo photo">
							</div>
							<div class="teamy_back">
								<div class="teamy_back-inner">
									<a href="#0" class="social"> <i class="fa fa-facebook"></i> </a>
									<a href="#0" class="social"> <i class="fa fa-dribbble"></i> </a>
									<a href="#0" class="social"> <i class="fa fa-twitter"></i> </a>
									<a href="#0" class="social"> <i class="fa fa-envelope-o"></i> </a>
								</div>
							</div>
						</div>
						<div class="teamy_content">
							<a href="#url" class="teamy_name">Rose Alpha</a>
							<span class="teamy_post">Barista at coffeebean</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
