@{
	Layout = null;
	ViewBag.Title = "NotFound";
}
<body>
	<div class="list-header clearfix">
		<span>NotFound</span>
	</div>
	<div class="list-sfs-holder">
		<div class="alert alert-error">
			An unexpected error has occurred. Please contact the system administrator.
		</div>

		<div>錯誤頁面NotFound</div>
		<img src="~/images/ErrorPage.png" />
	</div>
</body>
